.summary-report{
    margin-top: 10px;
    margin-left: 5rem;
    margin-right: 5rem;
    .report-content{
        border: 1px solid gray;
        width: 30rem;
        height: 20rem;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 5px;
    }

}