
<div class="content-cnt page-layout blank">

    <div   class="header  p-24 h-80" fxLayout="row" fxLayoutAlign="start center"  >
        <div fxFlex="50"  >
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">Sales</span>
            </div>
        </div>

    </div>

    <div class="content"  >
        <div  class="tab-content p-24">

            <section class="filter" >
                <div fxLayout="row " fxLayoutAlign="start center"  >

                    <div fxFlex="20" class="mr-8" >
                        <mat-form-field style="width:100%" >
                            <mat-label > លេខវិក័យបត្រ </mat-label>
                            <input matInput [(ngModel)]=" receipt_number " maxlength="100">
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" class="mr-8" >
                        <mat-form-field style="width:100%" >
                            <mat-label>ស្ថានភាព</mat-label>
                            <mat-select [(ngModel)] = " status "  class="option">
                            <mat-option  *ngFor = " let row of statusType " [value] = " row.id " > {{ row?.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                           
                    </div>

                    <div fxFlex >
                        <button [disabled] = " isSearching " mat-mini-fab color="accent" (click)=" listing()" class="search-button" > 
                            <mat-icon>search</mat-icon>
                        </button> 
                    </div>                    
                </div>
            </section>

            <section class="listing" >

                <div *ngIf = " isSearching " >
                    <mat-spinner style="margin:auto" diameter = " 100 " ></mat-spinner>
                </div>
                
                <ng-container *ngIf = " !isSearching && data?.length > 0 "  >
                    <table class="proposal-value-table" >
            
                        <thead>
                            <tr>
                                <th >Number.</th>
                                <th class="text-left">Customer</th>
                                <th> Phone</th>
                                <th class="text-left"> Status</th>
                                <th class="text-right">Total Price (KHR)</th>
                                <th class="text-right">Discount (%)</th>
                                <th class="text-center">&nbsp; &nbsp; Date</th>
                                <th ></th>
                            
                            </tr>
                        </thead>

                        <tbody>

                            <tr *ngFor="let row of data; let i = index; " [attr.data-index]="i">

                                <td ><b style="color:blue" >{{ row?.receipt_number }}</b></td>
                                <td class="text-left">{{row?.customer?.user?.name}}</td>
                                <td >{{row?.customer?.user?.phone}}</td>
                                <td class="text-left"><span [ngStyle]="{ 'color': row?.status_id == 1 ? 'green':'red'  }"
                                    >{{ row?.status?.name}}</span>
                               </td>
                                <td class="text-right" >{{ row?.total_price | number }} </td>
                                <td class="text-right">{{ row?.discount | number }}</td>
                                <td class="text-center">
                                    <div class="pl-16" >
                                        <span>Created: {{ row?.updated_at }} </span><br />
                                        <span *ngIf = " row?.paid_at " >Paid: {{ row?.paid_at }}</span>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <button  mat-icon-button color="accent"  (click) = "viewReceipt(row)" matTooltip="View">
                                        <mat-icon>remove_red_eye</mat-icon>
                                    </button>

                                    <button  mat-icon-button color="accent"  (click) = "printOrderPDF(row.id)" matTooltip="Print">
                                        <mat-icon>print</mat-icon>
                                    </button>

                                    <!-- <button [disabled] = " row?.paid_at " mat-icon-button color="warn" (click)="onDelete(row)"   matTooltip="delete">
                                        <mat-icon>delete</mat-icon>
                                    </button> -->
                                </td>
                            
                            </tr>

                        </tbody>
            
                    </table>

                    <div fxLayoutAlign="end end">
                        <app-paginator  [length]="total" [page]="page" [limit]="limit" (pageChanged)="onPageChanged($event)"></app-paginator>
                    </div>
                </ng-container>
                <ng-container *ngIf=" data?.length == 0 && !isSearching ">
                    <div fxLayout="column" fxLayoutAlign="center center" fxflex>
                        <mat-icon role="img" class="mat-icon notranslate s-100 mb-16 select-message-icon hint-text material-icons mat-icon-no-color" aria-hidden="true"> toc </mat-icon>
                        <span class="select-message-text hint-text"><span>No Data</span></span>
                    </div>
                </ng-container>
            </section>
            
        </div>
    </div>
    
</div>

